.photo{
    height: 300px;
    width: 300px;
    background-image:url(background_photo.jpg.jpg);
    background-size: cover;
    align-items: center;
    justify-content: center;
}


.header{
    margin-right: 20px;
    
    text-align: center;
}

body{
    background-color: pink;
}

